body {
    margin: 0 auto;
    max-width: 45rem;
    font-family: 'Crimson Text', Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
    font-size: 1.1em;
    padding: 1rem;
    color: #333;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
}

h1, h2, strong {
    color: #222;
}

code {
    padding: 2px 4px;
    vertical-align: text-bottom;
}

pre {
    padding: 1em;
    border-left: 2px solid #69c;
    overflow: auto;
}

code, pre {
    background: #f5f7f9;
    border-bottom: 1px solid #d8dee9;
    color: #425886;
}
